html {
    font-family: Arial, Helvetica, sans-serif
}
/** MASTER IMAGE **/
.contenedorMaster {
    height: 80vh;
}
.filaMaster {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/materialesPracticos/hawaii.jpg);
    background-position: center;
    background-size: cover;
}
.estilosBloqueMaster {
    color: aliceblue;
    text-align: right;
}
.estilosBloqueMaster p {
    font-weight: 600;
}
.estilosBloqueMaster h2 {
    font-size: 2rem;
    font-weight: 500;
}
.estilosBloqueMaster button {
    margin-left: 10px;
}
/*? MEDIA QUERIES MASTER IMAGE ?*/
@media screen and (max-width: 768px) {
    .estilosBloqueMaster {
        text-align: center;
    }
    .estilosBloqueMaster h2 {
        display: none;
    }
    .estilosBloqueMaster p {
        margin-top: 20px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .estilosBloqueMaster button {
        margin: 20px;
    }
}
@media screen and (max-width: 576px) {
    .contenedorMaster {
        height: 500px;
    }
}

/** MAIN SECTION **/
 .tituloOradores h3 {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: .8rem;
    margin-bottom: 0;
 }
 .tituloOradores h2 {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 1.8rem;
 }
 .tituloOradores p {
    font-weight: 300;
    text-align: center;
    font-size: .8rem;
 }
 .tituloOradores a {
    text-decoration: none;
    color: #353A40;
    text-decoration:underline;
    text-decoration-style: dotted;
 }
 /* Tarjetas */
 .card-text {
    font-size: .73rem;
 }

 /** BEACH IMAGE **/
 /*? Media Queries ?*/
@media screen and (max-width: 992px) {
    .contenidoBeach h3, p {
        text-align: center;
    }
    .contenidoBeach h3 {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .contenidoBeach p {
        font-size: .9rem;
    }
    .contenidoBeach button {
        margin-left: 35%;
    }
}
@media screen and (max-width: 812px) {
    .contenidoBeach p {
        font-size: .78rem;
    }
}

 /** FORM **/
.recuerdaIncluir {
    font-size: .8rem;
    color: #6b6b6b;
    padding-top: 5px;
}
.botonEnviar {
    background-color: rgb(150, 201, 62);
    border-color: rgb(150, 201, 62);
}