html {
    font-family: Arial, Helvetica, sans-serif
}
/** MASTER IMAGE **/
.contenedorMaster {
    height: 80vh;
}
.filaMaster {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/materialesPracticos/hawaii.jpg);
    background-position: center;
    background-size: cover;
}
.estilosBloqueMaster {
    color: aliceblue;
}
/*? MEDIA QUERIES MASTER IMAGE ?*/
@media screen and (max-width: 576px) {
    .contenedorMaster {
       height: auto;
    }
}
/** MAIN SECTION **/
 .tituloOradores a {
    text-decoration-style: dotted !important;
 }
 #botonReact {
    background-color: #17A2B7 !important;
    border-color: #17A2B7 !important;
 }
 
 /** BEACH IMAGE **/
 /*? Media Queries ?*/
@media screen and (max-width: 992px) {
    .contenidoBeach p {
        font-size: .9rem;
    }
    .contenidoBeach button {
        margin-left: 36%;
    }
}

 /** FORM **/
.botonEnviar {
    background-color: rgb(166, 223, 69) !important;
    border-color: rgb(163, 219, 66) !important;
}

/** FOOTER **/
.contenedorFooter {
    background-color: #1E465F;
}